:root {
  --sidebar-width: 240px;
  --desktop-padding-x: 20px;
  --container-width: 800px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  text-decoration-skip-ink: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #404040;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.flex {
  display: flex;
}

.site-layout {
  display: grid;
  grid-template-areas:
    "site-header"
    "site-content"
    "site-footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; /** TODO: this has problems on mobile */
  border-top: 4px solid turquoise;
}

.site-header-area {
  grid-area: site-header;
}

.site-content-area {
  grid-area: site-content;
}

.site-footer-area {
  grid-area: site-footer;
}

.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--desktop-padding-x);
}

.grid-layout-container {
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
}

.grid-layout-container__primary {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 20px;
  grid-area: center;
}

@media (max-width: 799px) {
  .grid-layout-container {
    display: block;
  }
}

.spacer {
  padding-bottom: 40px;
}

.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-logo {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.site-header__admin-button {
  display: inline-flex;
  background: hsl(174 100% 26% / 1);
  text-decoration: none;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  color: white;
  font-size: 0.875rem;
}

.site-header__admin-button:hover {
  background: hsl(174 100% 20% / 1);
}

.site-header__container,
.site-footer__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(var(--container-width) + calc(var(--sidebar-width) * 2));
  padding: 0 var(--desktop-padding-x);
  width: 100%;
}

.site-footer {
  background-color: #eee;
  border-top: 1px solid #ddd;
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  grid-template-areas:
    "footer-top"
    "footer-bottom";
  row-gap: 8px;
  font-size: 14px;
}

.site-footer a {
  color: inherit;
}

.page-title {
  margin-bottom: 0.5em;
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-list-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.post-list-item__link-wrapper {
  flex-basis: 100%;
}

.post-list-item__link {
  font-size: 1.25rem;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.post-list-item__link:hover {
  text-decoration: underline;
}

.post-date {
  order: -1;
  font-size: 0.875rem;
  color: #444;
  padding-bottom: 4px;
}

.post-body {
  margin: 12px 0 24px;
}

.edit-button-wrapper {
  margin-top: 32px;
}

.edit-button {
  display: inline-block;
  background: hsl(174 100% 26% / 1);
  text-decoration: none;
  align-items: center;
  padding: 8px 32px;
  border-radius: 4px;
  color: white;
  font-size: 0.875rem;
}

.edit-button:hover {
  background: hsl(174 100% 20% / 1);
}

.tag-dl {
  margin: 8px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tag-dd {
  margin: 0;
}

.tag {
  display: inline-block;
  padding: 2px 8px;
  border: 1px solid #ddd;
  background: #eee;
  font-size: 0.875rem;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
}

.tag:hover {
  background: #ddd;
}

.tag-sidebar {
  grid-area: left;
  padding-left: 20px;
  padding-right: 20px;
  justify-self: end;
  width: var(--sidebar-width);
}

.tag-sidebar-heading {
  margin-bottom: 0.5em;
}

.tag-sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tag-sidebar-list-item {
  margin-bottom: 8px;
}

.tag-sidebar-list-item__link {
  text-decoration: none;
  font-size: 0.875rem;
  color: inherit;
}

.tag-sidebar-list-item__link:hover {
  text-decoration: underline;
}

.tag-sidebar-list-item__link--selected {
  font-weight: bold;
}
