:root {
  --sidebar-width: 240px;
  --desktop-padding-x: 20px;
  --container-width: 800px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #404040;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.site-layout {
  display: grid;
  grid-template-areas:
    "site-header"
    "site-content"
    "site-footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; /** TODO: this has problems on mobile */
}

.site-header-area {
  grid-area: "site-header";
}

.site-content-area {
  grid-area: "site-content";
}

.site-footer-area {
  grid-area: "site-footer";
}

.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--desktop-padding-x);
}

.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-header__container {
  margin: 0 auto;
  max-width: calc(var(--container-width) + calc(var(--sidebar-width) * 2));
  padding: 0 var(--desktop-padding-x);
}

.site-footer {
  background-color: #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-title {
  /* todo */
}

.homepage-wrapper {
  display: grid;
  grid-template-areas: "left middle right";
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-list-item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.post-list-item__link-wrapper {
  flex-basis: 100%;
  padding-bottom: 4px;
}

.post-list-item__link {
  font-size: 1.25rem;
  text-decoration: none;
  color: inherit;
}

.post-list-item__date {
  order: -1;
  font-size: 0.875rem;
  color: #444;
  padding-bottom: 4px;
}

.post-list-item__tag-dl {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.post-list-item__tag-dd {
  margin: 0;
}

.post-list-item__tag-link {
  order: -1;
  font-size: 0.875rem;
  color: #444;
  text-decoration: none;
}

.tag-sidebar {
  order: -1;
  padding-left: 20px;
  padding-right: 20px;
  justify-self: end;
  width: var(--sidebar-width);
}

.tag-sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tag-sidebar-list-item__link {
  text-decoration: none;
  font-size: 0.875rem;
  color: inherit;
}
