# Note: We can't use $HOSTNAME as the env name because it's used by Docker.

{$SITE_HOSTNAME:localhost:80} {
	bind 0.0.0.0
	encode zstd gzip

	@wordpress {
		path /app/*
		not path /app/

		path /wp/*
		not path /wp/

		path /wp-json /wp-json/*
		not path /wp-json/nonce /wp-json/nonce/*
	}

	reverse_proxy @wordpress wordpress:80
	reverse_proxy webapp:3000
}

www.{$SITE_HOSTNAME:localhost:80} {
	bind 0.0.0.0
	redir {scheme}://{$SITE_HOSTNAME:localhost:80}{uri}
}
