{{ $wikiLink := "https://en.wikipedia.org/wiki/Scrum_(software_development)#History" }}


<footer>
  <p>
    <a href="{{ $wikiLink }}">Ken Schwaber</a> and
    <a href="{{ $wikiLink }}">Jeff Sutherland</a> are my enemies
  </p>
</footer>
