{{ $wikiLink := "https://en.wikipedia.org/wiki/Scrum_(software_development)#History" }}


<footer class="site-footer">
  <div class="container">
    <div>
      <a href="{{ $wikiLink }}">Ken Schwaber</a> and
      <a href="{{ $wikiLink }}">Jeff Sutherland</a> are my enemies.
    </div>

    <div>
      &copy; Tyler Smith
      {{ CurrentYear }}
    </div>
  </div>
</footer>
