<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/app.css" />
  </head>
  <body>
    <div class="site-layout">
      <div class="site-header-area">
        {{- template "_header.tmpl" . }}
      </div>

      <div class="site-content-area">
        {{ block "main" . }}
        {{ end }}
      </div>

      <div class="site-footer-area">
        {{- template "_footer.tmpl" . }}
      </div>
    </div>
  </body>
</html>
