{{ $posts := index . 0 }}
{{ $tagIdMap := index . 1 }}


<ul class="post-list">
  {{- range $posts }}
    <li class="post-list-item">
      <div class="post-list-item__link-wrapper">
        <a href="/posts/{{ .Slug }}" class="post-list-item__link">
          {{ .Title.Rendered }}
        </a>
      </div>
      <time
        class="post-list-item__date"
        datetime="{{ .Date.Format "2006-01-02" }}"
      >
        {{ .Date.Format "January 2, 2006" }}
      </time>
      {{- if len .Tags }}
        <dl class="tag-dl">
          <dt class="sr-only">Tags</dt>
          {{- range .Tags }}
            {{ with (index $tagIdMap .) }}
              <dd class="tag-dd">
                <a href="/tags/{{ .Slug }}" class="tag">
                  {{ .Name }}
                </a>
              </dd>
            {{- end }}
          {{- end }}
        </dl>
      {{- end }}
    </li>
  {{- end }}
</ul>
