{{- define "main" }}
  {{- $tagIdMap := index .Data "tagIdMap" }}
  {{- $user := index .Data "user" }}


  <div class="spacer"></div>

  <div class="container">
    {{- with index .Data "post" }}
      <h1 class="page-title">{{ .Title.Rendered }}</h1>

      <time datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>

      {{- if len .Tags }}
        <div>
          {{- range .Tags }}
            {{- with (index $tagIdMap .) }}
              <a href="/tags/{{ .Slug }}">
                {{ .Name }}
              </a>
            {{- end }}
          {{- end }}
        </div>
      {{- end }}

      {{ .Content.Rendered }}

      {{- if $user.CanEditPost . }}
        <a href="/wp/wp-admin/post.php?post={{ .Id }}&action=edit">
          Edit Post
        </a>
      {{- end }}
    {{- end }}
  </div>

  <div class="spacer"></div>
{{- end }}
