{{- define "main" }}
  {{- $tagIdMap := index .Data "tagIdMap" }}


  <div class="container">
    <h1>Posts</h1>
    <ul>
      {{- range (index .Data "posts") }}
        <li>
          <a href="/posts/{{ .Slug }}">
            {{ .Title.Rendered }}
          </a>
          <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "January 2, 2006" }}
          </time>
          {{- if len .Tags }}
            <div>
              {{- range .Tags }}
                {{ with (index $tagIdMap .) }}
                  <a href="/tags/{{ .Slug }}">
                    {{ .Name }}
                  </a>
                {{- end }}
              {{- end }}
            </div>
          {{- end }}
        </li>
      {{- end }}
    </ul>

    <h2>Tags</h2>
    <ul>
      {{- range (index .Data "tags") }}
        <li>
          <a href="/tags/{{ .Slug }}">
            {{ .Name }}
            ({{ .Count }})
          </a>
        </li>
      {{- end }}
    </ul>
  </div>
{{- end }}
