{{ define "main" }}
  {{ template "_header.tmpl" . }}


  <h1>Posts</h1>

  <ul>
    {{ range .Data }}
      <li>
        <a href="/posts/{{ .Slug }}">
          {{ .Title.Rendered }}
        </a>
        <time datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date.Format "January 2, 2006" }}
        </time>
      </li>
    {{ end }}
  </ul>

  {{ template "_footer.tmpl" . }}
{{ end }}
