{{- define "main" }}
  {{- $posts := index .Data "posts" }}
  {{- $tagIdMap := index .Data "tagIdMap" }}
  {{- $tags := index .Data "tags" }}
  {{- $tagSlug := index .Data "tagSlug" }}
  {{- $user := index .Data "user" }}


  <div class="spacer"></div>

  <div class="grid-layout-container">
    <div class="grid-layout-container__primary ">
      {{- with index .Data "tag" }}
        <h1 class="page-title">Tag: {{ .Name }}</h1>

        {{- if .HasDescription }}
          <p class="tag-body">
            {{ .Description }}
          </p>
        {{- end }}

        {{- if $user.CanEditTag . }}
          <div class="button-wrapper--mb">
            <a
              href="/wp/wp-admin/term.php?taxonomy=post_tag&tag_ID={{ .Id }}&post_type=post"
              class="button"
            >
              Edit Tag &rarr;
            </a>
          </div>
        {{- end }}

        {{- if (gt (len $posts) 0) }}
          {{- template "_post-list.tmpl" (args $posts $tagIdMap) }}
        {{- end }}
      {{- end }}

    </div>

    {{- template "_tag-sidebar.tmpl" (args $tags $tagSlug) }}
  </div>

  <div class="spacer"></div>
{{- end }}
