{{- define "main" }}
  {{- $tagIdMap := index .Data "tagIdMap" }}
  {{- $user := index .Data "user" }}


  <div class="spacer"></div>

  <div class="container">
    {{- with index .Data "post" }}
      <h1 class="page-title">{{ .Title.Rendered }}</h1>

      {{- /* The flex wrapper is a hack to get the position to match the homepage */}}
      <div class="flex">
        <time datetime="{{ .Date.Format "2006-01-02" }}" class="post-date">
          {{ .Date.Format "January 2, 2006" }}
        </time>
      </div>

      <div class="post-body">
        {{ .Content.Rendered }}
      </div>

      {{- template "_tag-list.tmpl" (args .Tags $tagIdMap) }}

      {{- if $user.CanEditPost . }}
        <div class="button-wrapper--mt">
          <a
            href="/wp/wp-admin/post.php?post={{ .Id }}&action=edit"
            class="button"
          >
            Edit Post &rarr;
          </a>
        </div>
      {{- end }}

    {{- end }}
  </div>

  <div class="spacer"></div>
{{- end }}
