{{- define "main" }}
  {{- $posts := index .Data "posts" }}
  {{- $tagIdMap := index .Data "tagIdMap" }}
  {{- $tags := index .Data "tags" }}


  <div class="spacer"></div>

  <div class="grid-layout-container">
    <div class="grid-layout-container__primary ">
      <h1 class="page-title">Posts</h1>

      {{- template "_post-list.tmpl" (args $posts $tagIdMap) }}
    </div>

    {{- template "_tag-sidebar.tmpl" (args $tags nil) }}
  </div>

  <div class="spacer"></div>
{{- end }}
